.grid{
    width: 400px;
    height: 800px;
    background-color: yellowgreen;
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 40px;
    width: 40px;
    padding: 0%;
}

.tetromino{
    background-color: blue;
}

.mini-grid {
    width: 160px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    background-color: orangered;
}

.mini-grid div{
    height: 20px;
    width: 20px;
}